In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd

fish = pd.read_csv('./data/05_생선_분류_데이터셋.csv')
fish

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
..      ...     ...     ...       ...      ...     ...
154   Smelt    12.2    12.2      13.4   2.0904  1.3936
155   Smelt    13.4    12.4      13.5   2.4300  1.2690
156   Smelt    12.2    13.0      13.8   2.2770  1.2558
157   Smelt    19.7    14.3      15.2   2.8728  2.0672
158   Smelt    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 6 columns]

In [4]:
fish_input = fish[['Weight','Length','Diagonal','Height','Width']].to_numpy()
fish_target = fish['Species'].to_numpy()

from sklearn.model_selection import train_test_split
train_input,test_input, train_target,test_target = train_test_split(fish_input,fish_target,random_state =42)
    
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=20000)
lr.fit(train_input,train_target)

LogisticRegression(max_iter=20000)

## joblib 방식

In [5]:
import joblib

#모델 저장
joblib.dump(lr, './model/LR_fish_model.pkl')

['./model/LR_fish_model.pkl']

In [6]:
##모델 불러들이기
load_model = joblib.load('./model/LR_fish_model.pkl')
print(load_model.score(test_input,test_target))

0.925

## pickle 방식

In [7]:
import pickle

# 모델 저장
with open('./model/LR_fish_model.pkl','wb') as fw:
    pickle.dump(lr,fw)

In [8]:
#모델 읽어들이기
with open('./model/LR_fish_model.pkl','rb') as f:
    load_model = pickle.load(f)
    
print(load_model.score(test_input,test_target))

0.925

## 타이타닉

In [142]:
titanic = pd.read_csv('./data/06_(문제)타이타닉_분류_데이터셋.csv')
titanic=titanic[['survived','pclass','sex','age','sibsp','parch','fare','embarked','class','who','adult_male']]
titanic = titanic.dropna(axis=0)

In [143]:
df =pd.get_dummies(titanic, columns = ['embarked'], prefix = 'embarked')
df =pd.get_dummies(df, columns = ['sex'], prefix = 'sex')
df =pd.get_dummies(df, columns = ['who'], prefix = 'who')
df =pd.get_dummies(df, columns = ['adult_male'], prefix = 'adult_male')
# df =pd.get_dummies(df, columns = [''], prefix = 'adult_male')


df

,survived,pclass,age,sibsp,parch,fare,class,embarked_C,embarked_Q,embarked_S,sex_female,sex_male,who_child,who_man,who_woman,adult_male_False,adult_male_True
0,0,3,22.0,1,0,7.2500,Third,0,0,1,0,1,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,First,1,0,0,1,0,0,0,1,1,0
2,1,3,26.0,0,0,7.9250,Third,0,0,1,1,0,0,0,1,1,0
3,1,1,35.0,1,0,53.1000,First,0,0,1,1,0,0,0,1,1,0
4,0,3,35.0,0,0,8.0500,Third,0,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,39.0,0,5,29.1250,Third,0,1,0,1,0,0,0,1,1,0
886,0,2,27.0,0,0,13.0000,Second,0,0,1,0,1,0,1,0,0,1
887,1,1,19.0,0,0,30.0000,First,0,0,1,1,0,0,0,1,1,0
889,1,1,26.0,0,0,30.0000,First,1,0,0,0,1,0,1,0,0,1
890,0,3,32.0,0,0,7.7500,Third,0,1,0,0,1,0,1,0,0,1

In [105]:
### <변수설명>\\
    
    
# PassengerId : 각 승객의 고유 번호
# Survived : 생존 여부(종속 변수)
#     0 = 사망
#     1 = 생존
# Pclass : 객실 등급 - 승객의 사회적, 경제적 지위
#     1st = Upper(first class)
#     2nd = Middle(second class)
#     3rd = Lower(third class)
# Name : 이름
# Sex : 성별
# Age : 나이
# SibSp : 동반한 Sibling(형제자매)와 Spouse(배우자)의 수
# Parch : 동반한 Parent(부모) Child(자식)의 수
# Ticket : 티켓의 고유넘버
# Fare : 티켓의 요금
# Cabin : 객실 번호
# Embarked : 승선한 항
#     C = Cherbourg
#     Q = Queenstown
#     S = Southampton

In [130]:
# df['age'] =df['age'].fillna(np.mean(df['age']))

In [144]:
df

,survived,pclass,age,sibsp,parch,fare,class,embarked_C,embarked_Q,embarked_S,sex_female,sex_male,who_child,who_man,who_woman,adult_male_False,adult_male_True
0,0,3,22.0,1,0,7.2500,Third,0,0,1,0,1,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,First,1,0,0,1,0,0,0,1,1,0
2,1,3,26.0,0,0,7.9250,Third,0,0,1,1,0,0,0,1,1,0
3,1,1,35.0,1,0,53.1000,First,0,0,1,1,0,0,0,1,1,0
4,0,3,35.0,0,0,8.0500,Third,0,0,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,39.0,0,5,29.1250,Third,0,1,0,1,0,0,0,1,1,0
886,0,2,27.0,0,0,13.0000,Second,0,0,1,0,1,0,1,0,0,1
887,1,1,19.0,0,0,30.0000,First,0,0,1,1,0,0,0,1,1,0
889,1,1,26.0,0,0,30.0000,First,1,0,0,0,1,0,1,0,0,1
890,0,3,32.0,0,0,7.7500,Third,0,1,0,0,1,0,1,0,0,1

In [191]:
df[['survived','pclass','sibsp','parch','fare','embarked_C','embarked_Q','embarked_S','sex_female','sex_male','who_child','who_man','who_woman','adult_male_False','adult_male_True']].corr()

,survived,pclass,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S,sex_female,sex_male,who_child,who_man,who_woman,adult_male_False,adult_male_True
survived,1.000000,-0.356462,-0.015523,0.095265,0.266100,0.195673,-0.048966,-0.159015,0.536762,-0.536762,0.137568,-0.551151,0.495685,0.551151,-0.551151
pclass,-0.356462,1.000000,0.065187,0.023666,-0.552893,-0.279194,0.131989,0.197831,-0.150826,0.150826,0.167817,0.094635,-0.218748,-0.094635,0.094635
sibsp,-0.015523,0.065187,1.000000,0.383338,0.139860,-0.046227,0.051331,0.018968,0.106296,-0.106296,0.476860,-0.313016,0.003174,0.313016,-0.313016
parch,0.095265,0.023666,0.383338,1.000000,0.206624,-0.009523,-0.009417,0.013259,0.249543,-0.249543,0.354275,-0.365580,0.145179,0.365580,-0.365580
fare,0.266100,-0.552893,0.139860,0.206624,1.000000,0.301337,-0.062346,-0.250994,0.182457,-0.182457,-0.012233,-0.177446,0.199045,0.177446,-0.177446
embarked_C,0.195673,-0.279194,-0.046227,-0.009523,0.301337,1.000000,-0.095623,-0.884986,0.103611,-0.103611,0.032236,-0.084027,0.067709,0.084027,-0.084027
embarked_Q,-0.048966,0.131989,0.051331,-0.009417,-0.062346,-0.095623,1.000000,-0.378859,0.027256,-0.027256,0.039088,-0.062100,0.039384,0.062100,-0.062100
embarked_S,-0.159015,0.197831,0.018968,0.013259,-0.250994,-0.884986,-0.378859,1.000000,-0.109078,0.109078,-0.048254,0.107169,-0.081372,-0.107169,0.107169
sex_female,0.536762,-0.150826,0.106296,0.249543,0.182457,0.103611,0.027256,-0.109078,1.000000,-1.000000,0.116516,-0.888669,0.872741,0.888669,-0.888669
sex_male,-0.536762,0.150826,-0.106296,-0.249543,-0.182457,-0.103611,-0.027256,0.109078,-1.000000,1.000000,-0.116516,0.888669,-0.872741,-0.888669,0.888669
who_child,0.137568,0.167817,0.476860,0.354275,-0.012233,0.032236,0.039088,-0.048254,0.116516,-0.116516,1.000000,-0.426927,-0.239718,0.426927,-0.426927
who_man,-0.551151,0.094635,-0.313016,-0.365580,-0.177446,-0.084027,-0.062100,0.107169,-0.888669,0.888669,-0.426927,1.000000,-0.775578,-1.000000,1.000000
who_woman,0.495685,-0.218748,0.003174,0.145179,0.199045,0.067709,0.039384,-0.081372,0.872741,-0.872741,-0.239718,-0.775578,1.000000,0.775578,-0.775578
adult_male_False,0.551151,-0.094635,0.313016,0.365580,0.177446,0.084027,0.062100,-0.107169,0.888669,-0.888669,0.426927,-1.000000,0.775578,1.000000,-1.000000
adult_male_True,-0.551151,0.094635,-0.313016,-0.365580,-0.177446,-0.084027,-0.062100,0.107169,-0.888669,0.888669,-0.426927,1.000000,-0.775578,-1.000000,1.000000

In [192]:
##범주형 
titanic_data = df[['pclass','age','sex_female','sex_male','who_child','who_man','who_woman','adult_male_False','adult_male_True']].to_numpy()
titanic_target = df['survived'].to_numpy()

In [193]:
# ##연속형
# titanic_data = titanic[['age','fare']].to_numpy()

# titanic_target = titanic['survived'].to_numpy()

In [214]:
train_input, test_input,train_target,test_target = train_test_split(titanic_data,titanic_target,test_size =0.25, random_state=42)

In [215]:
print(train_input.shape)
print(train_target.shape)
print(test_input.shape)
print(test_target.shape)

(534, 9)
(534,)
(178, 9)
(178,)

In [216]:
from sklearn.preprocessing import StandardScaler

### 클래스(모델) 생성
ss = StandardScaler()

### 스스로 표준점수 생성
ss.fit(train_input)

### 훈련데이터를 표준점수로 변환하기
train_scaled = ss.transform(train_input)
### 테스트데이터를 표준점수로 변환하기
test_scaled = ss.transform(test_input)

In [217]:
from sklearn.neighbors import KNeighborsClassifier

### 클래스(모델) 생성하기
kn = KNeighborsClassifier(n_neighbors=3)

### 훈련모델 생성하기
kn.fit(train_scaled, train_target)

### 훈련데이터 정확도
print(kn.score(train_scaled, train_target))
### 테스트데이터 정확도
print(kn.score(test_scaled, test_target))

0.8764044943820225
0.7471910112359551

In [218]:

from sklearn.preprocessing import StandardScaler #클래스 (모델 )생성
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier  #결정트리
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from scipy.stats import uniform, randint
from sklearn.model_selection import RandomizedSearchCV

params_gs = {'min_impurity_decrease' : np.arange(0.0001,0.001,0.0001),
          'max_depth' : range(5,20,1),
          'min_samples_split' : range(2,100,10)}

params_rs = {'min_impurity_decrease' : uniform(0.0001,0.001),
          'max_depth' :randint(20,50),
          'min_samples_split' : randint(2,25),}


### 클래스(모델) 생성
ss= StandardScaler()
sc = SGDClassifier(loss='log', max_iter=100, random_state=42)
dt= DecisionTreeClassifier(random_state=42)
splitter = StratifiedKFold(n_splits=10, shuffle=True, random_state =42)
gs = GridSearchCV(DecisionTreeClassifier(random_state=42),params_gs,cv=splitter, n_jobs = -1)
rs = RandomizedSearchCV(DecisionTreeClassifier(random_state =42),params_rs,n_iter=15, n_jobs =-1,random_state=42)


### scores
scores_dt = cross_validate(dt,train_input, train_target)
scores_sfkf = cross_validate(dt, train_input, train_target,cv = StratifiedKFold())
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled =ss.transform(test_input)

sc.fit(train_scaled, train_target)
print('-sc-------------------------------')
print('SGDClassifier 훈련 score =',sc.score(train_scaled, train_target))
print('SGDClassifier 훈련 score =',sc.score(test_scaled, test_target))
print('----------------------------------')
print('-sc.partial-------------------------------')
sc.partial_fit(train_scaled, train_target)
print('----------------------------------')
print('SGDClassifier 훈련 score =',sc.score(train_scaled, train_target))
print('SGDClassifier 훈련 score =',sc.score(test_scaled, test_target))
print('----------------------------------')
### 교차 검증
scores_sfkf_spl = cross_validate(dt, train_input, train_target,cv = splitter)

#결정 트리
# - SGDClassifier모델을 이용한 score점수가 제일 적합했음
# - 

gs.fit(train_input, train_target)
print(gs.best_estimator_)
dt_gs =gs.best_estimator_
print(rf.feature_importances_)
###랜덤 서치
print('-rs-------------------------------')
rgen = randint(0, 10)
rs.fit(train_input, train_target)
dt_rs =gs.best_estimator_
print('가장 높은 평가점수',np.max(rs.cv_results_['mean_test_score']))
print(gs.best_params_)
print('RandomizedSearchCV 훈련 score',dt_rs.score(train_input,train_target))
print('RandomizedSearchCV 최종 score',dt_rs.score(test_input,test_target))

###
print('-gs-------------------------------')
print('GridSearchCV 훈련 score =',dt_gs.score(train_input, train_target))
print('GridSearchCV 최종 score =',dt_gs.score(test_input, test_target))
print('---------------------------------')
# print(gs.cv_results_)
# print('---------------------------------')
# print(gs.cv_results_.keys())


##
print('---------------------------------')
print('DecisionTreeClassifier 최종 score = ' , np.mean(scores_dt['test_score']))
print('---------------------------------')
print('k-fold최종 score = ' , np.mean(scores_sfkf['test_score']))
print('k-fold_splitter 최종 score = ' , np.mean(scores_sfkf_spl['test_score']))

print('-----------------------------')

-sc-------------------------------
SGDClassifier 훈련 score = 0.8202247191011236
SGDClassifier 훈련 score = 0.797752808988764
----------------------------------
-sc.partial-------------------------------
----------------------------------
SGDClassifier 훈련 score = 0.7902621722846442
SGDClassifier 훈련 score = 0.7584269662921348
----------------------------------
DecisionTreeClassifier(max_depth=16, min_impurity_decrease=0.0005,
                       random_state=42)
[0.18690092 0.40179097 0.08914887 0.04058342 0.00649192 0.07418447
 0.02289304 0.12180035 0.05620603]
-rs-------------------------------
가장 높은 평가점수 0.8146535002645037
{'max_depth': 16, 'min_impurity_decrease': 0.0005, 'min_samples_split': 2}
RandomizedSearchCV 훈련 score 0.9026217228464419
RandomizedSearchCV 최종 score 0.7584269662921348
-gs-------------------------------
GridSearchCV 훈련 score = 0.9026217228464419
GridSearchCV 최종 score = 0.7584269662921348
---------------------------------
---------------------------------
DecisionTreeClassifier 최종 score =  0.8184094515958386
---------------------------------
k-fold최종 score =  0.8184094515958386
k-fold_splitter 최종 score =  0.8145352900069881
-----------------------------

In [219]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

from sklearn.model_selection import cross_validate

In [220]:
sc = SGDClassifier(loss='log', max_iter=100, random_state=42)
rf = RandomForestClassifier(n_jobs=-1, random_state=42)
et = ExtraTreesClassifier(n_jobs=-1,random_state=42)
gb=GradientBoostingClassifier(random_state=42)
hgb=HistGradientBoostingClassifier(random_state=42)
xgb = XGBClassifier(tree_method='hist', random_state=42)
lgb=LGBMClassifier()


scores_rf = cross_validate(rf, train_input, train_target, return_train_score=True, n_jobs=-1)
scores_et = cross_validate(et, train_input, train_target, return_train_score=True, n_jobs=-1)
scores_gb = cross_validate(gb, train_input, train_target, return_train_score=True, n_jobs=-1)
scores_hgb= cross_validate(hgb,train_input, train_target, return_train_score=True, n_jobs=-1)
scores_xgb= cross_validate(xgb,train_input, train_target, return_train_score=True, n_jobs=-1)
scores_lgb= cross_validate(lgb,train_input, train_target, return_train_score=True, n_jobs=-1)


print('랜덤포레스트 =                 ',np.mean(scores_rf['train_score']),np.mean(scores_rf['test_score']))
print('엑스트라 트리 =                ',np.mean(scores_et['train_score']),np.mean(scores_et['test_score']))
print('그라디언트 부스트 =            ',np.mean(scores_gb['train_score']),np.mean(scores_gb['test_score']))
print('히스토그램 그라디언트 부스트 = ',np.mean(scores_hgb['train_score']),np.mean(scores_hgb['test_score']))
print('XGBoost =                      ',np.mean(scores_xgb['train_score']),np.mean(scores_xgb['test_score']))
print('LightGBM =                     ',np.mean(scores_lgb['train_score']),np.mean(scores_lgb['test_score']))

rf.fit(train_input,train_target)
et.fit(train_input,train_target)
gb.fit(train_input,train_target)
hgb.fit(train_input,train_target)
xgb.fit(train_input,train_target)
lgb.fit(train_input,train_target)



print('랜덤포레스트 =                 ',rf.feature_importances_)
print('-------------------------------------------------------')
print('엑스트라 트리 =                ',et.feature_importances_)
print('-------------------------------------------------------')
print('그라디언트 부스트 =            ',gb.feature_importances_)
print('-------------------------------------------------------')
print('히스토그램 그라디언트 부스트 = ',hgb.score(test_input,test_target))
print('-------------------------------------------------------')
print('XGBoost =                      ',xgb.feature_importances_)

랜덤포레스트 =                  0.914793495152006 0.8202257097513665
엑스트라 트리 =                 0.914793495152006 0.809098924351966
그라디언트 부스트 =             0.8960657926415548 0.8183565508728619
히스토그램 그라디언트 부스트 =  0.8829608877410318 0.807176864750485
XGBoost =                       0.9049618069994965 0.8240521953800035
LightGBM =                      0.8834303661712883 0.8033680126961735
랜덤포레스트 =                  [0.19095045 0.39559719 0.11608506 0.05780798 0.00693312 0.07088427
 0.02366926 0.07514213 0.06293054]
-------------------------------------------------------
엑스트라 트리 =                 [0.21820072 0.34209789 0.03383022 0.04826639 0.00553801 0.08981882
 0.00797811 0.14477415 0.10949569]
-------------------------------------------------------
그라디언트 부스트 =             [0.2611504  0.22138322 0.0150443  0.10918704 0.00118063 0.19975997
 0.00468841 0.04125249 0.14635354]
-------------------------------------------------------
히스토그램 그라디언트 부스트 =  0.7865168539325843
-------------------------------------------------------
XGBoost =                       [0.07998205 0.01080013 0.03324259 0.         0.         0.8690243
 0.00695092 0.         0.        ]